

<div  class="scrollable-container">
    <div class="cuadro_padre">
        <div class="cuadro_hijo">
            <header class="header">
                <div class="container_header">
                    <div class="texto_nombre">
                        <div translate="no"><p>MAIKOL</p></div>
                        <div translate="no"><p>GARRIDO</p></div>
                    </div>
                    <div class="texto_profesion">
                        <div translate="no"><p>FULL STACK</p></div>
                        <div translate="no"><p>WEB DEVELOPER</p></div>
                    </div>
                    <img style="z-index: 10000;" class="img_header" src="../../assets/yo2.png" alt="">
                    <div class="texto_sobre_mi">
                        
                        <p><span class="spam-texto-grande">Hello! I am Maikol Garrido,</span> a young man passionate about new technologies
                            and dedicated to exploring the infinite possibilities they offer. my approach
                            focuses on consistently delivering high-quality results,
                            since I firmly believe in the importance of excellence in every
                            project I am embarking on. 
                             
                             <br>

                            My commitment to quality is reflected in every line of code I write
                            and in every project I tackle. I strive to stay up to date on the
                            latest trends and technological developments,
                            making sure that every solution I propose is backed by what
                            latest in knowledge and innovative approaches.
                        </p>
                        <a href="../../cv/CVMaikolGarrido.pdf" download="CVMaikolGarrido.pdf">
                            <button class="btn-descargar-cv">Download CV</button>
                        </a>
                    </div>
                    <!-- <img  class="img_header" src="../../assets/me8.png" alt=""> -->
                    
                    <div class="arrow-container">
                        <img class="flecha" src="../../assets/flecha-hacia-abajo.png" alt="">
                    </div>
                </div>
                
            </header>
            <section class="skills-section">
                <div class="skills-container">
                    <div class="container-skill-info">
                        <div class="skill-info-item">
                            <h1>Design + Development</h1>
                            <p>Clean, modern designs - optimized for performance, search engines, and converting users to customers.</p>
                        </div>
                        <div class="skill-info-item">
                            <h1>Technology</h1>
                            <p>Combined all the latest technologies to create a progressive website.</p>
                        </div>
                        <div class="skill-info-item">
                            <h1>Always Responsive</h1>
                            <p>A responsive design makes your website accessible to all users, regardless of their device.</p>
                        </div>
                    </div>
                    <div class="container-skill-bar" #containerSkillBar>
                        <div class="skill-bar" *ngFor="let skill of skills_data">
                            <p class="titulo animate">{{skill.titulo}}</p>
                            <div class="inner-skill animate" *ngFor="let imagen of skill.img" >
                                <div class="contenedor-img" [style.background]="imagen.background[0]" >
                                    <!-- <img [src]="imagen.url" alt="" class="img_skill"> -->
                                </div>
                                <!-- <div class="contendor-name">
                                    <p class="name_lenguage">{{imagen.name}}</p>
                                </div> -->
                                <div 
                                    class="contenedor-porcentage" 
                                    [style.width]="imagen.porcentage+'%' " 
                                    [style.background]="'linear-gradient(to right, ' + imagen.background[0] + ' 2%, ' + imagen.background[1] + ' 60%)'">                                   <p class="name_lenguage">{{imagen.name}}</p>
                                    <p class="porcentage" >{{imagen.porcentage}}<span class="spam-porcentage">%</span></p>
                                </div>
                                <!-- <p class="skill-descripcion">
                                    {{imagen.description}}
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>







          
            <section class="cuadro_hijo2">
                <img class="img_header_hijo2" src="../../assets/img7.jpg" alt="">
                <div class="subhijo_cuadro_hijo2">
                    <h1>EXPERIENCE</h1>
                    <div class="texto_info">
                        <p> 
                            "My work experience has been developed in areas
                            diverse to technology, however, I have acquired
                            skills that are applicable in any field of work.
                            I highlight my ability to work as a team, manage
                            projects, and maintain effective communication with both
                            team colleagues as well as with clients. These skills are
                            transferable and valuable in any work environment."
                        </p>
                        
                    </div>
                    <ul class="experiencias">
                        <li class="experiencia"><a target="_blank" href="https://www.google.com/maps/place/Hosteria+Caba%C3%B1as+Del+Pescador+Cajas/@-2.8047145,-79.1575374,3a,75y,90t/data=!3m8!1e2!3m6!1sAF1QipMz_Aqr5IRbxbIU11EvkhJ7TFtRufEdxs6SGbUI!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipMz_Aqr5IRbxbIU11EvkhJ7TFtRufEdxs6SGbUI%3Dw203-h152-k-no!7i5120!8i3840!4m14!1m2!2m1!1shosteria+caba%C3%B1as+del+pescador!3m10!1s0x91cd3980567f4ab1:0xb5fc3b7d85368c2!5m2!4m1!1i2!8m2!3d-2.8047145!4d-79.1575374!10e5!15sCh5ob3N0ZXJpYSBjYWJhw7FhcyBkZWwgcGVzY2Fkb3KSAQZob3N0ZWzgAQA!16s%2Fg%2F11f164v0j1?entry=ttu">Hosteleria Cabañas del pescador</a></li>
                        <li class="experiencia"><a target="_blank" href="#">Embutidos la Hoguera</a></li>
                        <li class="experiencia"><a target="_blank" href="https://www.google.com/maps/place/pic%26nic+-+American+Sandwich+Bar/@40.4229783,-3.859224,12z/data=!4m10!1m2!2m1!1spic+and+nic!3m6!1s0xd42295b136e270b:0x3a9f01c65c1ec74e!8m2!3d40.4229783!4d-3.7067887!15sCgtwaWMgYW5kIG5pYyIDiAEBWg0iC3BpYyBhbmQgbmljkgEKcmVzdGF1cmFudJoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VSemIzUmlhRk5SRUFF4AEA!16s%2Fg%2F11ghp23mqy?entry=ttu">pic&nic - AMERICAN SANDWICH BAR</a></li>
                    </ul>
                </div>
            </section>
    
        </div>
    </div>
    </div>